# Redirect to www
RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE]
RewriteRule ^blog-icerik/([0-9a-zA-Z-_]+)-([0-9]+)  blog-icerik.php?sef=$1&id=$2 [L,QSA]
RewriteRule ^icerik/([0-9a-zA-Z-_]+)-([0-9]+)  icerik.php?sef=$1&id=$2 [L,QSA]
RewriteRule ^proje-icerik/([0-9a-zA-Z-_]+)-([0-9]+)  proje-icerik.php?sef=$1&id=$2 [L,QSA]
RewriteRule ^hizmet-icerik/([0-9a-zA-Z-_]+)-([0-9]+)  hizmet-icerik.php?sef=$1&id=$2 [L,QSA]
RewriteRule ^urun-icerik/([0-9a-zA-Z-_]+)-([0-9]+)  urun-icerik.php?sef=$1&id=$2 [L,QSA]
RewriteRule ^doktor-icerik/([0-9a-zA-Z-_]+)-([0-9]+)  doktor-icerik.php?sef=$1&id=$2 [L,QSA]
RewriteRule ^([a-z0-9_\-]+)(\.html) $1.php [L,NC]
RewriteRule ^sitemap.xml sitemap.php [L,NC]
RewriteRule ^hakkimizda hakkimizda.php [L,NC]
RewriteRule ^foto-galeri foto-galeri.php [L,NC]
RewriteRule ^video-galeri video-galeri.php [L,NC]
RewriteRule ^degisim degisim.php [L,NC]
RewriteRule ^paketler paketler.php [L,NC]
RewriteRule ^ekibimiz ekibimiz.php [L,NC]
RewriteRule ^fiyatlar fiyatlar.php [L,NC]
RewriteRule ^projelerimiz projelerimiz.php [L,NC]
RewriteRule ^urunlerimiz urunlerimiz.php [L,NC]
RewriteRule ^sikca-sorulanlar sikca-sorulanlar.php [L,NC]
RewriteRule ^index index.php [L,NC]
RewriteRule ^blog blog.php [L,NC]
RewriteRule ^teklif-al teklif-al.php [L,NC]
RewriteRule ^iletisim iletisim.php [L,NC]
RewriteRule ^hizmetlerimiz hizmetlerimiz.php [L,NC]